In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from meteostat import Daily,Point
from datetime import datetime

In [25]:
start=datetime(2020,1,1)
end=datetime(2024,1,1)

location=Point(32.7157, -117.1611)

In [26]:
data=Daily(location,start,end)
data=data.fetch()
data.head()

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2020-01-01  14.0   7.8  18.9   0.0   0.0  268.0   6.1   NaN  1016.8   NaN
2020-01-02  15.1  10.0  20.6   0.0   0.0  357.0   5.4   NaN  1015.2   NaN
2020-01-03  15.1   9.4  21.1   0.0   0.0  336.0   4.0   NaN  1023.3   NaN
2020-01-04  14.3   8.3  20.6   0.0   0.0  343.0   4.7   NaN  1026.5   NaN
2020-01-05  14.1   8.3  21.1   0.0   0.0  346.0   4.3   NaN  1024.9   NaN

In [27]:
data.shape

(1462, 10)

In [28]:
data.head()

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2020-01-01  14.0   7.8  18.9   0.0   0.0  268.0   6.1   NaN  1016.8   NaN
2020-01-02  15.1  10.0  20.6   0.0   0.0  357.0   5.4   NaN  1015.2   NaN
2020-01-03  15.1   9.4  21.1   0.0   0.0  336.0   4.0   NaN  1023.3   NaN
2020-01-04  14.3   8.3  20.6   0.0   0.0  343.0   4.7   NaN  1026.5   NaN
2020-01-05  14.1   8.3  21.1   0.0   0.0  346.0   4.3   NaN  1024.9   NaN

In [32]:
data.isna().sum()

tavg    0
tmin    0
tmax    0
prcp    0
wdir    0
wspd    0
pres    0
dtype: int64

In [30]:
data=data.drop(['snow','tsun','wpgt'],axis=1)
data.head()

            tavg  tmin  tmax  prcp   wdir  wspd    pres
time
2020-01-01  14.0   7.8  18.9   0.0  268.0   6.1  1016.8
2020-01-02  15.1  10.0  20.6   0.0  357.0   5.4  1015.2
2020-01-03  15.1   9.4  21.1   0.0  336.0   4.0  1023.3
2020-01-04  14.3   8.3  20.6   0.0  343.0   4.7  1026.5
2020-01-05  14.1   8.3  21.1   0.0  346.0   4.3  1024.9

In [33]:
data.duplicated().sum()

np.int64(0)